<p id="notice"><%= notice %></p>

<h1>Feed Global</h1>

<% @tweets = Tweet.all.order(created_at: :desc) %>
  <% @tweets = @tweets.paginate(page: params[:page], per_page: 10) %>


  <%= render @tweets %>
  <%= will_paginate  %>

